
* {
    box-sizing: border-box;
}

.brand-logo {
    font-family: 'Abril Fatface', cursive;
    margin-left: 1em;
}


.top-negative-50 {
    margin-top: -100px;
    margin-left: -50px;
    position: relative;
}

.top-100 {
    top: 100px;
}

.left-3 {
    left: 2.5em;
}

img {
    position: relative;
    opacity: .8;
}

.fancy-header {
    font-family: 'Abril Fatface', cursive;
    color: black;
    position: absolute;
    width: 50%;
    padding: .2em;
    background: #b2dfdb;
    opacity: .85;
    z-index: 100;
}

.quote-box {
    font-family: 'Abril Fatface', cursive;
    color: black;
    position: absolute;
    width: 33%;
    padding: 1em;
    background: #b2dfdb;
    opacity: .85;
    z-index: 4;

}


.p-container-1 {
    left: 11.5em;
    top: 370px;
    width: 17%;
    text-align: justify;
    float: left;
    margin: 0 auto;
    position: absolute;
    z-index: 5;
}

.p-container-2 {
    left: 28.3em;
    top: 370px;
    width: 17%;
    text-align: justify;
    float: left;
    margin: 0 auto;
    position: absolute;
    z-index: 5;
}


.p-container-3 {
    left: 12.5em;
    top: 335px;
    width: 34%;
    text-align: justify;
    float: left;
    margin: 0 auto;
    position: absolute;
    font-weight: bold;
    z-index: 5;
}


.mid-page {
    top: 1900px;
}

.float-right {
    float: right;
    margin-right: -50px;
}

footer {

    font-family: 'Abril Fatface', cursive;
    position: bottom;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.logo {
    box-sizing: content-box;
    width: 170px;
    position: absolute;
    opacity: 1;
    z-index: 300;
    padding: 0 1em 1em 1em 1em;
    left: 1.3em;
}

.logo-background {
    height: 50em;
    width: 250px;
    background-color: papayawhip;
    opacity: .6;
    position: absolute;
    z-index: 5;
    left: 30px;
}

.floating-logo {
    width: 300px;
    position: absolute;
    top: 860px;
    margin-left: 270px;
    z-index: 1000;
    opacity: 1.0;

}

.floating-logo-background {
    background-color: papayawhip;
    width: 100%;
    height: 200px;
    top: 832px;
    float: left;
    z-index: 150;
    opacity: .6;
    position: absolute;
    left: 20%;
}

.mid-paragraph {
    left: 69%;
    top: 61em;
    width: 25%;
    text-align: justify;
    float: left;
    margin: 0 auto;
    position: absolute;
    z-index: 500;
}