
/*@media screen and (max-width:500px) {*/
    /*body {*/
        /*background: red;*/
    /*}*/
/*}*/

/*@media screen and (min-width:500px) and (max-width: 960px) {*/
    /*body {*/
        /*background: yellow;*/
    /*}*/
/*}*/


/*Mobile site css */
@media screen and (max-width:768px) {

    * {
        font-family: sans-serif;
        box-sizing: border-box;
    }

    body {
        margin: 1.5em;
    }

    h1 {
        font-size: 3em;
        text-align: center;
        /*margin: 1em;*/
        /*width: calc(100% - 2em);*/
    }

    /*img {*/

        /*margin: 0;*/
        /*padding: 0;*/


    /*}*/

    .alert-info {
        color: black;
        font-weight: bold;
        box-sizing: border-box;
        height: 3em;
        border: 1px solid lightgray;
        background: lightcyan;
        display: inline-block;
        text-align: center;
        line-height: 40px;
        /*margin: 1em;*/
        /*!*width: calc(100% - 2em);*!*/

    }

    .nav-links {

        margin: 0;
        padding: 0;

    }

    .nav-links > li {
        /*margin: .3em 1em .3em 1em;*/
        /*width: calc(100% - 2em);*/
        box-sizing: border-box;
        height: 3em;
        list-style: none;
        display: inline-block;
        background: lightgray;
        text-align: center;
        line-height: 40px;
        overflow: hidden;
    }

    /*p {
        text-align: justify;
        margin: 1em;
        width: calc(100% - 2em); */
    /*}*/
    .main p {
        margin: 0;
        text-align: justify;

    }

    .main {
        padding-bottom: 1em;
        margin: 0;
    }

    .sub-section {
        font-style: italic;

    }

    .sub-section p {

        text-align: justify;


    }

    .alert-info > a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: .8em;
        vertical-align: middle;

    }
}
/* desktop site css */


@media screen and (min-width:768px) {

    * {
      font-family: sans-serif;

    }



    body {
        margin: 3em;
    }

    h1 {
        text-align: left;


    }

    .alert-info {
        display: none;

    }

    .nav-links {
        margin:0;
        list-style: none;
        padding-bottom: 2em;
        text-align: right;

    }

   .nav-links > li {
        display: inline-block;
        background: none;


    }

    .main {
        /*width: 60%;*/
        float: left;
        padding-right: .5em;


    }

    .sub-section {
        /*width: 30%;*/
        float: right;
        padding-left: .5em;
    }

.header-img {
    /*width: calc(100% - 2em);*/
}

    }


